.btnst {
     font-size: 18px;
     color: #000000;
     font-family: inherit;
     text-decoration: none;
     font-weight: 500;
     padding: 5px;
     cursor: pointer;
     position: relative;
     border: none;
     background: none;
     text-transform: uppercase;
     transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
     transition-duration: 400ms;
     transition-property: color;
}

.btnst:focus,
.btnst:hover {
     color: #a70000;
}

.btnst:focus:after,
.btnst:hover:after {
     width: 100%;
     left: 0%;
}

.btnst:after {
     content: "";
     pointer-events: none;
     bottom: -2px;
     left: 50%;
     position: absolute;
     width: 0%;
     height: 2px;
     background-color: #04004d;
     transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
     transition-duration: 400ms;
     transition-property: width, left;
}

/* .side_btn {
     padding: 1px 10px;
} */

.btnsd {
     background-color: white;
     color: gray;
     text-decoration: none;
     padding: 10px 20px;
     border-radius: 10px;
}

.btnsd:hover {
     background-color: #ede7f6;
     color: #5e35b1;
}